@import "https://fonts.googleapis.com/css?family=Odibee+Sans:400:700";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Odibee+Sans', sans-serif;
  }

  #page-wrapper {
    position: relative;
  }

  li {
    list-style: none;
  }

  a {
    color: #000;
    text-decoration: none;
    font-weight: 800;
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  .btn {
    padding: 5px 25px 5px;
    height: 30px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px rgb(4, 31, 0) solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    color: rgb(4, 31, 0);
  }
  
  .grid {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }

  header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
  }

  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }

  .logo {
    width: 65vw;
  }
  
  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
  
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }

  nav {
    font-weight: 400;
  }
  
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
  
    nav li {
      padding-bottom: 5px;
    }
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }

  #bestcam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    margin-top: 80px;

  }

  #bestcam > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  #bestcam input[type="email"] {
    max-width: 350px;
    width: 100%;
    padding: 5px;
  }

  #bestcam input[type="submit"] {
    max-width: 250px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    background-color: rgb(119, 2, 2) ;
    color: honeydew;
  }

  #bestcam input[type="submit"]:hover {
    background-color:#034101;
    transition: background-color 0.5s;
  }

@media(max-width: 650px) {
    #hero {
      margin-top: 120px;
    }
  }
  

  #specs .desc {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    height: 200px;
    width: 40vw;
    padding: 5px;
  }

  @media(max-width: 650px) {
    #specs .desc{
      margin-top: 40px;
    }
  }


  #cams {
      display: flex;
      justify-content: center;
  }

  @media(max-width: 650px) {
    #video{
      margin-top: 40px;
    }
  }

  #pricing {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 2);
    margin: 10px;
    border: 3px solid rgb(4, 36, 0);
    border-radius: 3px;
    padding: 45px;
  }

  .product > .level {
    background-color: rgb(12, 51, 24);
    color: rgba(219, 219, 219, 0.993);
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 1;
    margin: 15px 0;
    background-color: #ffffff;
    font-weight: 400;
    color:#215e04;
    font-weight: 600;
  }
  
  
  .product > button:hover {
    background-color:#215e04;
    color: #ffffff;
    transition: background-color 0.4s;
    border-color: rgb(12, 51, 24);
  }

  footer {
    margin-top: 30px;
    background-color: rgb(2, 92, 14);
    padding: 20px;
   
  }
  
  footer a {
      color: rgb(182, 182, 182);
  }

  footer a:hover {
    color: rgba(242, 245, 241, 0.932);
}

  footer > ul {
    display: flex;
    justify-content: flex-end;
    
  }
  
  footer > ul > li {
    padding: 0 10px;
  }

  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: rgb(0, 0, 0);
  }

  .fas {
   font-size: 40px;
   color: rgba(2, 78, 19, 0.76);
   padding: 10px;
  }

 
  

 

  